* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.budget-container {
    border: 5px solid green;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    height: 2rem;
    width: 10rem;
}

.budget-heading {
    color: green;
}

.expenses-container {
    border: 5px solid red;
}

.expense-heading {
    color: red;
}

input {
    text-align: center;
    height: 2rem;
    width: 20rem;
}

.wrap {
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.budget-output-container {
    display: flex;
    justify-content: center;
}

.remaining-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expense-list {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: circle;
}