/*  
    color: #358CFF;
*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Containers */

.budget-container {
    /* border: 5px solid darkgreen;
    background-color: lightgreen; */
    box-shadow:  2px 2px 5px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.income-container {
    /* border: 5px solid darkgreen;
    background-color: lightgreen; */
    box-shadow:  2px 2px 5px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.expenses-container {
    /* border: 5px solid red;
    background-color: pink; */
    box-shadow:  2px 2px 5px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

button {
    height: 2rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #358CFF;
}

/* Headings */

.budget-heading {
    color: darkgreen;
}

.income-heading {
    color: darkgreen;
}


.expense-heading {
    color: red;
}

.remaining-heading {
    display: flex;
}

.expense-list-heading {
    text-align: center;
}

.budget-output-heading {
    text-align: center;
}

.income-output-heading {
    text-align: center;
}

.expenses-total-heading {
    text-align: center;
}


input {
    text-align: center;
    height: 2rem;
    width: 20rem;
}

.wrap {
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.budget-output-container {
    display: flex;
    justify-content: center;
}

.remaining-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  2px 2px 5px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 20rem;
}

.expenses-list-container {
    box-shadow:  2px 2px 5px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 20rem;
}

.income-list-container {
    box-shadow:  2px 2px 5px 2px rgba(0,0,0,0.5);
    border-radius: 5px;
    width: 20rem;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: circle;
    justify-content: center;
}

/* SVG's */

.calculator-svg {
    height: 1.5rem;
}

.money-bag-svg {
    height: 3rem;
}

.expenses-svg {
    height: 3rem;
}

.income-svg {
    height: 3rem;
}

.plus-svg {
    height: 1rem;
}

.heading-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem 0;
}

